@page "/"

<PageTitle>Entrega del Proyecto Final</PageTitle>

<h1>PRIMERA ENTREGA</h1>


<h2>Gaston Tejada.-</h2>


<div style="text-align:center">
    <img src="images/SistemaDeGestion.png" alt="Diagrama de Arquitectura" style="max-width:600px;" />
</div>