@page "/ventas"
@inject VentasService Service

<h3>Ventas</h3>

<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/venta/new">
                <button type="button" class="btn btn-success">Crear</button>
            </a>
        </div>       
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-dark">
                <tr>                  
                    <th>Id</th>
                    <th>Comentarios</th>
                    <th>IdUsuario</th>                    
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Venta venta in ventas)
                {
                    <tr>
                        <td>@venta.Id</td>
                        <td>@venta.Comentarios</td>
                        <td>@venta.IdUsuario</td>
                        <td>
                            <a href="/venta/@venta.Id/Editar">Editar</a>
                        </td>
                        <td>
                            <button @onclick="@(() => EliminarVenta(venta.Id))" class="btn btn-danger">
                                Eliminar
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


@code {
    private List<Venta> ventas = [];

    protected override void OnInitialized()
    {       
        ventas = Service.ListarVentas();
    }

    public void EliminarVenta(int id)
    {
        Service.EliminarVenta(id);
        ventas = Service.ListarVentas();
    }
    
}

