@inject NavigationManager NavigationManager
@inject ProductosService Service

<EditForm Model="Producto" OnValidSubmit="CreateOrUpdateProduct" FormName="productos-form">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="form-group">
        <label for="descripcion">Descripcion</label>
        <InputText type="text" class="form-control" id="descripcion" @bind-Value="Producto.Descripcion" />
    </div>
    <div class="form-group">
        <label for="precio-compra">Precio compra</label>
        <InputNumber type="number" class="form-control" id="precio-compra" @bind-Value="Producto.PrecioCompra" />
    </div>

    <div class="form-group">
        <label for="precioVenta">Precio de Venta</label>
        <InputNumber type="number" class="form-control" id="precioVenta" @bind-Value="Producto.PrecioVenta" />
    </div>

    <div class="form-group">
        <label for="stock">Stock</label>
        <InputNumber type="number" class="form-control" id="stock" @bind-Value="Producto.Stock" />
    </div>

    <div class="form-group">
        <label for="totalProducto">Total Producto</label>
        <InputNumber type="number" class="form-control" id="totalProducto" @bind-Value="Producto.TotalProducto" />
    </div>

    <div class="form-group">
        <label for="categoria">Categoria</label>
        <InputText type="text" class="form-control" id="categoria" @bind-Value="Producto.Categoria" />
    </div>    
    <div class="form-group mt-4">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-dark ml-2" @onclick="Cancel">Cancelar</button>
    </div>
</EditForm>

@code {

 
    [Parameter]
    public Producto Producto { get; set; }

    protected override void OnInitialized()
    {
        
    }

    public void CreateOrUpdateProduct()
    {
        if (Producto.Id > 0)
        {
           
            Service.UpdateProduct(Producto.Id, Producto);

        }
        else
        {
            Service.InsertProduct(Producto);
           
        }

        NavigationManager.NavigateTo("/productos");
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/productos");
    }
}