@page "/productoVendidos/new"

<h3>Crear Producto Vendido</h3>

<ProductosVendidosForm ProductosVendido="NuevoProductoVendido" />
@code {
    private ProductosVendidos NuevoProductoVendido = new();
}
