@page "/productoVendido/{id:int}/editar"
@inject ProductosVendidosService Service

<h3>Editar Producto Vendido</h3>

@if (Productov.Id == null)
{
    <p>No existe el producto vendido</p>
}
else
{
    <ProductosVendidosForm ProductosVendido="Productov" />
}

@code {

    [Parameter]
    public int Id { get; set; }

    private ProductosVendidos? Productov;

    protected override void OnInitialized()
    {       
        Productov = Service.ObtenerProductoVendido(Id);        
    }
}
